/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 12 version
*/

.myheader {
    background-color: lightpink;
    padding: 15px;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.logo {
    font-size: 46px;
}

ul {
    width: 580px;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

li {
    font-size: 22px;
}

.fa-bars {
    font-size: 40px;
    cursor: pointer;
    display: none;
}

.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    background-color: lightblue;
}

.mybox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

img {
    width: 250px;
    margin: 10px;
}

@media (max-width: 1080px) {
    img {
        width: 350px;
    }
    .mybox {
        -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
        justify-content: space-evenly;
    }
}

@media (max-width: 768px) {
    nav {
        display: none;
    }
    .fa-bars {
        display: inline-block;
    }
    img {
        width: 400px;
    }
}

@media (max-width: 480px) {
    img {
        width: 300px;
    }
}
